<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Edit Restaurant</title>
</head>
<body>
  <h1>Edit Restaurant</h1>
  <form action="/restaurants/<%= restaurant._id%>?_method=PUT" method="POST" autocomplete="off">
    <input value="<%= restaurant.text%>" type="text" name="text">
    <input type="checkbox" <%= restaurant.visit ? 'checked' : ''%> name="visit"> Visited?
    <button type="submit">Update Restaurant</button>
  </form>
  <a href="/restaurants/<%= restaurant._id%>">Cancel</a>
</body>
</html>